# {{ ansible_managed }}
127.0.0.1 localhost localhost.localdomain
127.0.0.1 localhost4 localhost.localdomain4
::1 localhost localhost.localdomain
::1 localhost6 localhost.localdomain6

# Public
{% for host in play_hosts %}
{% if 'ansible_eth0' in hostvars[host] %}
{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }} {{ host }} {% if server_hostname %}{{ server_hostname }} {% endif %}

{% endif %}
{% endfor %}


# Private
{% for host in play_hosts %}
{% if 'backnet_addr' in hostvars[host] %}
{{ hostvars[host]['backnet_addr'] }} {{ host }}-int
{% endif %}
{% endfor %}
